
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    border: 40px;
    font-weight: 600;
    font-size: 20px;
    color: #FF33F3;
    background-color: #050505;
    border-radius: 6px;
    border: 2px solid #FF33F3;
    display: inline-block;
  }
